.titulo {
    text-align: center;
    margin: 2rem auto;
}

.contenedorOpciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

}

.total {
    margin: 0;
    background-color: transparent;
    border: 2px solid rgb(73, 10, 10);
    padding: 10px 5px;
    font-size: 20px;
    border-radius: 1rem;
}

.subtitulo {
    background-color: rgb(73, 10, 10);
    padding: 10px;
    color: #fff;
}