h3 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(105, 31, 31);
    background-color: rgb(93, 84, 84);
}

.form {
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 2rem;
    border: 3px solid;
    max-width: 55rem;
}

input {
    width: 100%;
    border-radius: 1rem;
    border: 1px solid;
    padding: 0.3rem;
}

.datos {
    display: flex;
    padding: 3px;
    font-size: 1.2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;

}

.enviar {
    background-color: rgb(73, 10, 10);
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
    padding: .4rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 9px;
    display: inline;
    border: 2px solid red;
    padding: 3px;
    width: 100%;
    margin: 1rem auto;
}

.enviar:hover {
    background-color: whitesmoke;
    color: black;
    border: 2px solid rgb(227, 187, 7);
    cursor: pointer;
}