.header {
    border-bottom: 2px solid rgb(73, 10, 10);
    padding-bottom: 1rem;
    box-shadow: 0 4px 20px 11px rgb(58, 58, 58);
    margin-bottom: 2rem;
}

.titulo {
    color: rgb(31, 19, 3);
    font-size: 50px;
}

.ul {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 0;
}

li {
    list-style-type: none;
}


.link {
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}